fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
faster-whisper
pandas
plotly
langchain-core
langgraph
docxtpl
python-docx
PyMuPDF
pypdf
ollama
pgvector
python-dotenv
alembic
bcrypt
PyJWT
transformers
rank_bm25
jieba
torch
funasr
modelscope
torchaudio
more-itertools
sounddevice
jiwer
beautifulsoup4
python-multipart
